/*IMAGENES*/
html {
  background-image: url(imagenes/fondo.png);
}
img{
  height: 600px;
}
.ofertas {
   height: 200px;
  margin-top:200px;
  padding-left: 20px;
}
.product-card {
  height: 600px;
  width: 20%;
  margin: 10px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 30px;
  background-color: rgb(255, 255, 255);
}
/*DIV*/
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 30px;

}
/*FOOTER*/
footer {
  margin-top: 10px;
  background-color: #ffb3c6;
}
/*NAV*/
nav {
  width: 100%;
  position: fixed;
  top: 0;
  background-color: #fff;
  transition: background-color .5s ease-in-out;
  display: flex;
  align-content: center;
  list-style-type: none;
  z-index: 300;
}
nav ul {
  list-style-type: none;
}
